<section class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <div class="page-header">
                            <div class="page-block">
                                <div class="row align-items-center">
                                    <div class="col-md-12">
                                        <div class="page-header-title">
                                            <h5 class="m-b-10">Student List</h5>
                                        </div>
                                        <ul class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="/books"><i class="feather icon-home"></i></a></li>
                                            <li class="breadcrumb-item"><a href="#!">Student List</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Student List</h5>
                                        <div class="card-header-right">
                                            <a href="/students/add" class="btn btn-primary"><i class="fa fa-plus"></i> Add Student</a>
                                        </div>
                                    </div>
                                    <div class="card-body task-data">
                                        <div class="table-responsive">
                                            <table id="simpletable" class="table dt-responsive table-striped table-bordered nowrap">
                                                <thead>
                                                    <tr>
                                                        <th>Id</th>
                                                        <th>Name</th>
                                                        <th>Roll No.</th>
                                                        <th>Phone No.</th>
                                                        <th>Country</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% students.forEach(student => { %>
                                                    <tr>
                                                        <td><%= student.id %></td>
                                                        <td><%= student.name %></td>
                                                        <td><%= student.roll_no %></td>
                                                        <td><%= student.phone %></td>
                                                        <td><%= student.country %></td>
                                                        <td>
                                                            <a href="/students/delete/<%= student.id %>" class="btn btn-sm btn-danger"><i class="feather icon-trash-2"></i></a>
                                                        </td>
                                                    </tr>
                                                    <% }) %>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    setTimeout(function() {
        $('#simpletable').DataTable();
    }, 600);
</script>