<!DOCTYPE html>
<html lang="en">
<head>
    <title>LMS - Student List</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/assets/fonts/fontawesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/plugins/animation/css/animate.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/plugins/data-tables/css/datatables.min.css">
    <link rel="stylesheet" href="/assets/css/pages/pages.css">
</head>
<body>
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>

    <%- include('partials/sidebar') %>
    <%- include('partials/header') %>

    <section class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <div class="page-header">
                                <div class="page-block">
                                    <div class="row align-items-center">
                                        <div class="col-md-12">
                                            <div class="page-header-title">
                                                <h5 class="m-b-10">Student List</h5>
                                            </div>
                                            <ul class="breadcrumb">
                                                <li class="breadcrumb-item"><a href="/books"><i class="feather icon-home"></i></a></li>
                                                <li class="breadcrumb-item"><a href="#!">Student List</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Student List</h5>
                                            <div class="card-header-right">
                                                <a href="/students/add" class="btn btn-primary"><i class="fa fa-plus"></i> Add Student</a>
                                            </div>
                                        </div>
                                        <div class="card-body task-data">
                                            <div class="table-responsive">
                                                <table id="simpletable" class="table dt-responsive table-striped table-bordered nowrap">
                                                    <thead>
                                                        <tr>
                                                            <th>Id</th>
                                                            <th>Name</th>
                                                            <th>Roll No.</th>
                                                            <th>Phone No.</th>
                                                            <th>Country</th>
                                                            <th>Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% students.forEach(student => { %>
                                                        <tr>
                                                            <td><%= student.id %></td>
                                                            <td><%= student.name %></td>
                                                            <td><%= student.roll_no %></td>
                                                            <td><%= student.phone %></td>
                                                            <td><%= student.country %></td>
                                                            <td>
                                                                <a href="/students/delete/<%= student.id %>" class="btn btn-sm btn-danger"><i class="feather icon-trash-2"></i></a>
                                                            </td>
                                                        </tr>
                                                        <% }) %>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="/assets/js/vendor-all.min.js"></script>
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/pcoded.min.js"></script>
    <script src="/assets/plugins/data-tables/js/datatables.min.js"></script>
    <script>
        setTimeout(function() {
            $('#simpletable').DataTable();
        }, 600);
    </script>
</body>
</html>